@using WebAssemblyMan;
@using System.Text.Json
@using System.Globalization
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib
@using Blazor_Dashboard.Pages

@page "/"

<div class="jumbotron" style="background:white;margin-left:16px;margin-right:16px;border-style: solid;border-width: 1px;border-color:lightgray">
    <div class="container-fluid">
        <h1>Game Of Home Results</h1>
        <p>On this page you can find your score and gives you some insight in why you achieved this score.</p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Available under MIT License.</p>
            </footer>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Total Score</div>
            <div class="card-body">

                @if (_scoreDecomposition == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <DonutChart InputData=@_scoreDecomposition InputLabels="Houses,Sustainability,Rent" PrimaryText=@_totalScore.ToString("N0") SecondaryText="Points"></DonutChart>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Average Scores</div>
            <div class="card-body">

                @if (_years == null || _scoresData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="_scoresConfig" @bind-Layout="_scoresLayout" @bind-Data="_scoresData" @ref="_scoresChart" />
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Average Results</div>
            <div class="card-body">

                @if (_years == null || _averageResultsData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="_averageResultsConfig" @bind-Layout="_averageResultsLayout" @bind-Data="_averageResultsData" @ref="_averageResultsChart" />
                }
            </div>
        </div>
    </div>
    <p />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Part of scenarios where the association has gone bankrupt</div>
            <div class="card-body">
                @if (_years == null || _bankruptTotalData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart Config="_bankruptTotalConfig" Layout="_bankruptTotalLayout" Data="_bankruptTotalData" @ref="_bankruptTotalChart"/>
                }
            </div>
        </div>
        <div class="card">
        <div class="card-header">Part of scenarios where the association has gone bankrupt per year</div>
            <div class="card-body">
                @if (_years == null || _bankruptPerYearData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    @if (_containsBankruptScenarios)
                    {
                        <PlotlyChart Config="_bankruptPerYearConfig" Layout="_bankruptPerYearLayout" Data="_bankruptPerYearData" @ref="_bankruptPerYearChart"/>
                    }
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Average debt</div>
            <div class="card-body">
                @if (_years == null || _debtData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart Config="_debtConfig" Layout="_debtLayout" Data="_debtData" @ref="_debtChart"/>
                }
            </div>
        </div>
    </div>
</div>