@using WebAssemblyMan;
@using System.Text.Json
@using System.Globalization
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib

@page "/"

<div class="jumbotron" style="background:white;margin-left:16px;margin-right:16px;border-style: solid;border-width: 1px;border-color:lightgray">
    <div class="container-fluid">
        <h1>Game Of Home Results</h1>
        <p>On this page you can find your score and gives you some insight in why you achieved this score.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Total Score</div>
            <div class="card-body">

                @if (_loadingData)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <DonutChart InputData=@_scoreDecomposition InputLabels="Houses,Sustainability,Rent" PrimaryText=@_totalScore.ToString("N0") SecondaryText="Points"></DonutChart>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Scores</div>
            <div class="card-body">

                @if (_years == null || scoresData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="scoresConfig" @bind-Layout="scoresLayout" @bind-Data="scoresData" @ref="scoresChart" />
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Total score per scenario</div>
            <div class="card-body">

                @if (_years == null || totalScoreData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="totalScoreConfig" @bind-Layout="totalScoreLayout" @bind-Data="totalScoreData" @ref="totalScoreChart" />
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">% of scenarios where the association has gone bankrupt</div>
            <div class="card-body">
                @if (_years == null || bankruptData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart Id="TestId" Config="bankruptConfig" Layout="bankruptLayout" Data="bankruptData" @ref="bankruptChart"/>
                }
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>&copy; Available under MIT License.</p>
                </footer>
            </div>
        </div>
    </div>
</div>

@code 
{

    bool _loadingData = true;
    Dictionary<string, List<double>> _results;
    double _totalScore;
    string _scoreDecomposition;
    List<object> _years;

    PlotlyChart scoresChart;
    Config scoresConfig = new Config();
    Layout scoresLayout = new Layout();
    // Using of the interface IList is important for the event callback!
    IList<ITrace> scoresData;

    PlotlyChart totalScoreChart;
    Config totalScoreConfig = new Config();

    Layout totalScoreLayout = new Layout()
    {
        ShowLegend = false,
        Colorway = new List<object> { "#182844" }
    };
    // Using of the interface IList is important for the event callback!
    IList<ITrace> totalScoreData;

    PlotlyChart bankruptChart;

    Config bankruptConfig = new Config()
    {
        Responsive = true
    };

    Layout bankruptLayout = new Layout()
    {
        BarMode = BarModeEnum.Stack
    };
    // Using of the interface IList is important for the event callback!
    IList<ITrace> bankruptData;

    [Inject]
    private HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var jsonString = await HttpClient.GetStringAsync("results.json");
            _results = JsonSerializer.Deserialize<Dictionary<string, List<double>>>(jsonString);
            var horizon = _results.First().Value.Count / 100;
            Console.WriteLine($"Horizon = {horizon}");

            var numberOfScenarios = _results["Scores"].Count / horizon;

            _totalScore = Average(_results["Scores"], horizon - 1, horizon);
            var numberOfHouses = Average(_results["NumberOfHousesScore"], horizon - 1, horizon);
            var sustainability = Average(_results["SustainabilityScores"], horizon - 1, horizon);
            var rent = Average(_results["RentScores"], horizon - 1, horizon);
            _scoreDecomposition = $"{numberOfHouses:N0},{sustainability:N0},{rent:N0}";

            var averageScore = GetAverageResult("Scores", horizon);
            var averageNumberOfHousesScore = GetAverageResult("NumberOfHousesScore", horizon);
            var averageRentScore = GetAverageResult("RentScores", horizon);
            var averageSustainabilityScore = GetAverageResult("SustainabilityScores", horizon);
            _years = Enumerable.Range(0, horizon).Select(t => DateTime.Today.Year + t).Cast<object>().ToList();
            Console.WriteLine($"Years = {_years}");

            LoadScoresData(averageScore, averageNumberOfHousesScore, averageRentScore, averageSustainabilityScore);
            LoadTotalScoreData(horizon, numberOfScenarios);
            LoadBankruptcyData(horizon);

            _loadingData = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine($"{e.Message}\n{e.StackTrace}");
        }
    }

    private void LoadScoresData(List<object> averageScore, List<object> averageNumberOfHousesScore, List<object> averageRentScore,
        List<object> averageSustainabilityScore)
    {
        scoresData = new List<ITrace>();

        AddScatterTrace(scoresData, averageScore, "Average total score");
        AddScatterTrace(scoresData, averageNumberOfHousesScore, "Average number of houses score");
        AddScatterTrace(scoresData, averageRentScore, "Average rent score");
        AddScatterTrace(scoresData, averageSustainabilityScore, "Average sustainability score");
    }

    private void LoadTotalScoreData(int horizon, int numberOfScenarios)
    {
        totalScoreData = new List<ITrace>();

        var rawData = _results["Scores"];

        for (var s = 0; s < numberOfScenarios; s++)
        {
            var scenario = rawData.Skip(s * horizon).Take(horizon).Cast<object>().ToList();
            AddScatterTrace(totalScoreData, scenario, $"Scenario {s + 1}");
        }
    }

    private void LoadBankruptcyData(int horizon)
    {
        bankruptData = new List<ITrace>();
        var data = _results["NumberOfBankruptcies"].Cast<object>().ToList();
        AddScatterBar(bankruptData, data, "Bankruptcies");
    }

    private List<object> GetAverageResult(string key, int horizon)
    {
        //return string.Join(',', Enumerable.Range(0, horizon).Select(t => $"{Average(_results[key], t, horizon)}"));
        return Enumerable.Range(0, horizon).Select(t => Average(_results[key], t, horizon)).Cast<object>().ToList();
    }

    private static double Average(IEnumerable<double> values, int year, int horizon)
    {
        return Math.Round(values.Where((v, s) => (s - year) % horizon == 0).Average(), 0);
    }

    private void AddScatterTrace(IList<ITrace> data, IList<object> series, string name)
    {
        data.Add(new Scatter
        {
            Name = name,
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = _years,
            Y = series
        });
    }

    private void AddScatterBar(IList<ITrace> data, IList<object> series, string name)
    {
        data.Add(new Bar
        {
            Name = name,
            X = _years,
            Y = series
        });
    }
}
