@using WebAssemblyMan;
@using System.Text.Json
@using System.Globalization
@using Plotly.Blazor.Traces.ScatterLib

@page "/"

<div class="jumbotron" style="background:white;margin-left:16px;margin-right:16px;border-style: solid;border-width: 1px;border-color:lightgray">
    <div class="container-fluid">
        <h1>Game Of Home Results</h1>
        <p>On this page you can find your score and gives you some insight in why you achieved this score.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Total Score</div>
            <div class="card-body">

                @if (_loadingData)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <DonutChart InputData=@_scoreDecomposition InputLabels="Houses,Sustainability,Rent" PrimaryText=@_totalScore.ToString("N0") SecondaryText="Points"></DonutChart>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Scores</div>
            <div class="card-body">

                @if (_years == null || scoresData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="scoresConfig" @bind-Layout="scoresLayout" @bind-Data="scoresData" @ref="scoresChart" />
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Total score per scenario</div>
            <div class="card-body">

                @if (_years == null || totalScoreData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="totalScoreConfig" @bind-Layout="totalScoreLayout" @bind-Data="totalScoreData" @ref="totalScoreChart" />
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">% of scenarios where the association has gone bankrupt</div>
            <div class="card-body">
                @*@if (_years == null || bankruptData == null)
                        {
                            <p>Loading data..</p>
                        }
                        else
                        {
                            <PlotlyChart Id="TestId" Config="bankruptConfig" Layout="bankruptLayout" Data="bankruptData" @ref="bankruptChart"/>
                        }
                    </div>*@
            </div>
            <div class="card">
                <div class="card-header">Bar Chart Vertical</div>
                <div class="card-body">
                    <h5 class="card-title">By Gender</h5>

                    <VerticalBarChart InputData="30,70,42,50,3,55,35,22,10,30"
                                      InputLabels="App Store,Website,Partners,Direct,Channels,Retail,Distributors,Affiliates,Phone,TV">
                    </VerticalBarChart>

                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Sparkline Fonts</div>
                <div class="card-body">
                    <h5 class="card-title">Sparkline</h5>
                    <p>
                        <Sparkline InputData="30,0,6,20,45,48,51,60,76,77,78,79,90,100,30,90,95,100,40,0,0,50" GenerateText="true" SegmentWidth="30"></Sparkline> <br />
                        <Sparkline InputData="60,0,16,25,48,45,1,0,6,37,78,79,90,90,91,99,80,0,40,0,0,56" GenerateText="true" SegmentWidth="30"></Sparkline>
                    </p>
                    <h5 class="card-title">Column Bars</h5>
                    <p>
                        <ColumnBars InputData="121,230,111,114,140,158,206,249,262,266,285,340,428,81,206,249,262,440,158,206,249,262,266,285,340,428" GenerateText="true"></ColumnBars><br />
                        <ColumnBars InputData="127,29,95,216,228,242,287,362,369,372,380,433,479,206,249,262,114,540,558,206,249,362,266,285,340,428" GenerateText="true"></ColumnBars><br />
                        <ColumnBars InputData="221,330,111,114,140,158,206,249,262,266,285,340,428,81,206,249,262,440,158,206,249,262,266,285,340,428" GenerateText="true"></ColumnBars>
                    </p>
                    <h5 class="card-title">Mini Pie</h5>
                    <p>
                        <MiniPie InputData="26,40,95,100" GenerateText="true"></MiniPie><br />
                        <MiniPie InputData="56,65,87,100" GenerateText="true"></MiniPie>
                    </p>
                    <h5 class="card-title">Win Loss</h5>
                    <p>
                        <WinLoss InputData="1,1,1,-1,1,1,1,0,1,-1,1,1,1,1,1,0,1,-1,1,1,1,1,0,0,0,1,1,1,0,1,1,-1,1,1,1,1" GenerateText="true"></WinLoss><br />
                        <WinLoss InputData="1,1,1,1,1,1,-1,1,1,1,0,1,1,1,-1,1,1,1,1,1,1,0,0,0,1,0,1,1,0,1,1,1,1,1,-1,1" GenerateText="true"></WinLoss>
                    </p>
                    <h5 class="card-title">Bullet Bars</h5>
                    <p>
                        <BulletBars InputData="26,40,95,100" Actual="49" Target="53" GenerateText="true"></BulletBars><br />
                        <BulletBars InputData="20,45,65,100" Actual="75" Target="50" GenerateText="true"></BulletBars>
                    </p>

                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>&copy; Available under MIT License.</p>
                </footer>
            </div>
        </div>
    </div>
</div>

@code 
{

    bool _loadingData = true;
    Dictionary<string, List<double>> _results;
    double _totalScore;
    string _scoreDecomposition;
    List<object> _years;

    PlotlyChart scoresChart;
    Config scoresConfig = new Config();
    Layout scoresLayout = new Layout();
    // Using of the interface IList is important for the event callback!
    IList<ITrace> scoresData;

    PlotlyChart totalScoreChart;
    Config totalScoreConfig = new Config();
    Layout totalScoreLayout = new Layout();
    // Using of the interface IList is important for the event callback!
    IList<ITrace> totalScoreData;

    [Inject]
    private HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var jsonString = await HttpClient.GetStringAsync("results.json");
            _results = JsonSerializer.Deserialize<Dictionary<string, List<double>>>(jsonString);
            var horizon = _results.First().Value.Count / 100;
            Console.WriteLine($"Horizon = {horizon}");

            var numberOfScenarios = _results["Scores"].Count / horizon;

            _totalScore = Average(_results["Scores"], horizon - 1, horizon);
            var numberOfHouses = Average(_results["NumberOfHousesScore"], horizon - 1, horizon);
            var sustainability = Average(_results["SustainabilityScores"], horizon - 1, horizon);
            var rent = Average(_results["RentScores"], horizon - 1, horizon);
            _scoreDecomposition = $"{numberOfHouses:N0},{sustainability:N0},{rent:N0}";

            var averageScore = GetAverageResult("Scores", horizon);
            var averageNumberOfHousesScore = GetAverageResult("NumberOfHousesScore", horizon);
            var averageRentScore = GetAverageResult("RentScores", horizon);
            var averageSustainabilityScore = GetAverageResult("SustainabilityScores", horizon);
            _years = Enumerable.Range(0, horizon).Select(t => DateTime.Today.Year + t).Cast<object>().ToList();
            Console.WriteLine($"Years = {_years}");

            LoadScoresData(averageScore, averageNumberOfHousesScore, averageRentScore, averageSustainabilityScore);
            LoadTotalScoreData(horizon, numberOfScenarios);


            _loadingData = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine($"{e.Message}\n{e.StackTrace}");
        }
    }

    private void LoadScoresData(List<object> averageScore, List<object> averageNumberOfHousesScore, List<object> averageRentScore,
        List<object> averageSustainabilityScore)
    {
        scoresData = new List<ITrace>();

        AddScatterTrace(scoresData, averageScore, "Average total score");
        AddScatterTrace(scoresData, averageNumberOfHousesScore, "Average number of houses score");
        AddScatterTrace(scoresData, averageRentScore, "Average rent score");
        AddScatterTrace(scoresData, averageSustainabilityScore, "Average sustainability score");
    }

    private List<object> GetAverageResult(string key, int horizon)
    {
    //return string.Join(',', Enumerable.Range(0, horizon).Select(t => $"{Average(_results[key], t, horizon)}"));
        return Enumerable.Range(0, horizon).Select(t => Average(_results[key], t, horizon)).Cast<object>().ToList();
    }

    private static double Average(IEnumerable<double> values, int year, int horizon)
    {
        return Math.Round(values.Where((v, s) => (s - year) % horizon == 0).Average(), 0);
    }

    private void AddScatterTrace(IList<ITrace> data, IList<object> series, string name)
    {
        data.Add(new Scatter
        {
            Name = name,
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = _years,
            Y = series
        });
    }

    private void LoadTotalScoreData(int horizon, int numberOfScenarios)
    {
        totalScoreData = new List<ITrace>();

        var rawData = _results["Scores"];

        for (var s = 0; s < numberOfScenarios; s++)
        {

            var scenario = rawData.Skip(s * horizon).Take(horizon).Cast<object>().ToList();
            AddScatterTrace(totalScoreData, scenario, $"Scenario {s + 1}");
        }
    }
}
