@using WebAssemblyMan;
@using System.Text.Json
@using System.Globalization
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib
@using Blazor_Dashboard.Pages

@page "/"

<div class="jumbotron" style="background:white;margin-left:16px;margin-right:16px;border-style: solid;border-width: 1px;border-color:lightgray">
    <div class="container-fluid">
        <h1>Game Of Home Results</h1>
        <p>On this page you can find your score and gives you some insight in why you achieved this score.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Total Score</div>
            <div class="card-body">

                @if (_scoreDecomposition == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <DonutChart InputData=@_scoreDecomposition InputLabels="Houses,Sustainability,Rent" PrimaryText=@_totalScore.ToString("N0") SecondaryText="Points"></DonutChart>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Scores</div>
            <div class="card-body">

                @if (_years == null || scoresData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="scoresConfig" @bind-Layout="scoresLayout" @bind-Data="scoresData" @ref="scoresChart" />
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Average Results</div>
            <div class="card-body">

                @if (_years == null || averageResultsData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart style="height: 60vh; min-height: 350px" @bind-Config="averageResultsConfig" @bind-Layout="averageResultsLayout" @bind-Data="averageResultsData" @ref="averageResultsChart" />
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">% of scenarios where the association has gone bankrupt</div>
            <div class="card-body">
                @if (_years == null || bankruptData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart Id="TestId" Config="bankruptConfig" Layout="bankruptLayout" Data="bankruptData" @ref="bankruptChart"/>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">Average debt</div>
            <div class="card-body">
                @if (_years == null || debtData == null)
                {
                    <p>Loading data..</p>
                }
                else
                {
                    <PlotlyChart Config="debtConfig" Layout="debtLayout" Data="debtData" @ref="debtChart"/>
                }
            </div>
        </div>

        <hr />
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>&copy; Available under MIT License.</p>
                </footer>
            </div>
        </div>
    </div>
</div>